@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
$color1: #000000;
$color2: #008EA1;
$color3: #0F0E15;
$white: #fff;
$black: #000;
$gray: #ccc;

/* ************************************************ */

$yazi1: 'Rajdhani',
sans-serif;
$yazi2: 'Sansita Swashed',
cursive;
$yazi3: 'Tajawal',
sans-serif;
$yazi3: 'Oswald',
sans-serif;

/* ************************************************ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
* {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #intro {
        h1 {
            font-size: 3em !important;
        }
    }
    .form {
        margin-top: 200px !important;
    }
}

#sidebar {
    height: 100%;
    position: fixed;
    width: 0px;
    z-index: 100;
    top: 0;
    right: 0px;
    background-color: $color1;
    padding-left: -150px !important;
    overflow: hidden;
    transition: 1s;
    -webkit-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.75);
    .logo {
        font-family: $yazi2;
        a {
            text-decoration: none;
            span {
                font-size: 35px !important;
                color: $white;
                font-weight: bold;
            }
        }
    }
    .btn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
        color: $gray !important;
    }
    ul {
        text-align: center;
        height: auto;
        list-style-type: none;
        padding: 10px 10px 10px 20px;
        color: $white;
        text-decoration: none;
        font-size: 22px;
        display: block;
        li {
            padding-top: 30px;
            a {
                text-decoration: none;
                color: $gray;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

header {
    position: relative !important;
    height: 100vh;
    width: 100%;
    // #content {
    //     position: relative !important;
    //     height: 100vh !important;
    //     width: 100%;
    //     background-color: $white;
    //     transition: 0.6s;
    .nav {
        position: absolute;
        z-index: 10;
        i {
            color: $white;
            &:hover {
                color: $gray;
            }
        }
    }
    .menuAc {
        position: absolute;
        top: 10px;
        right: 50px;
        i {
            z-index: 99;
            background-color: $color1;
            border: 2px solid #161D23;
            border-radius: 5px;
            padding: 5px;
            font-size: 20px !important;
            background-attachment: fixed !important;
            position: fixed;
            cursor: pointer;
            color: $white;
        }
    }
    .form-inline {
        .btn {
            color: $color1;
            border: 2px solid $color1;
            background-color: $white;
            &:hover {
                background-color: $color1;
                color: white;
            }
        }
    }
}

#intro {
    position: relative;
    z-index: 3;
    height: 100vh !important;
    background-size: cover;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(14, 15, 21, 0.7) 0%, rgba(14, 15, 21, 1) 100%), url("../img/1.jpg");
    background-size: cover;
    background-position: center;
    h1 {
        font-size: 5em;
        color: $white;
        font-family: $yazi2;
        text-align: center;
        font-weight: bold;
    }
    p {
        font-size: 20px;
        color: $gray;
        text-align: center;
    }
    .btn {
        background-color: $color2;
        color: $white;
        &:hover {
            background-color: $color1;
        }
    }
    hr {
        border: 2px solid $white;
    }
}

#post {
    height: auto;
    width: 100%;
    background: linear-gradient(180deg, rgba(14, 15, 21, 1) 0%, rgba(14, 15, 21, 1) 100%);
    color: $white;
    .featured-post {
        margin: 15px 15px 15px 15px;
        height: 350px;
        width: auto;
        border-radius: 20px;
        background: rgb(0, 0, 0);
        color: $gray;
        a {
            i {
                position: absolute;
                top: 10px;
                right: 10px;
                color: $gray;
            }
        }
        .post-inner {
            position: absolute;
            bottom: 15px;
            span:nth-child(1) {
                font-size: 12px;
            }
            span:nth-child(2) {
                font-size: 12px;
                text-decoration: underline;
            }
            h2 {
                a {
                    font-size: 25px;
                    font-family: $yazi3;
                    letter-spacing: 0px;
                    font-weight: bold;
                    color: $white;
                }
            }
            p {
                font-size: 15px;
            }
            .writer {
                span {
                    font-family: $yazi2 !important;
                    font-size: 25px !important;
                }
                a:nth-child(1) {
                    height: 30px;
                    width: auto;
                    color: $gray;
                }
                a:nth-child(2) {
                    height: 30px;
                    width: auto;
                    border-radius: 15px;
                    border: 2px solid $gray;
                    color: $gray;
                }
                a:nth-child(3) {
                    height: 30px;
                    width: auto;
                    border-radius: 15px;
                    border: 2px solid $gray;
                    color: $gray;
                }
            }
        }
    }
    .featured-post:nth-child(1) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/2.jpg");
        background-size: cover;
    }
    .featured-post:nth-child(2) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%), url("../img/3.jpg");
        background-size: cover;
    }
    .featured-post:nth-child(3) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/4.jpg");
        background-size: cover;
    }
    .featured-post:nth-child(4) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/5.jpg");
        background-size: cover;
    }
    .featured-post:nth-child(5) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/6.jpg");
        background-size: cover;
    }
    .featured-post:nth-child(6) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%), url("../img/7.jpg");
        background-size: cover;
    }
}

#load-more {
    background-color: $color3;
    border-bottom: 2px solid $black;
    a {
        width: 250px;
        height: auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
        text-align: center;
        align-items: center;
        font-size: 30px;
        color: $gray;
        text-decoration: none;
    }
}

#footer-widgets {
    background-color: $color3;
    height: auto;
    .box {
        .baslik {
            color: $white;
            text-align: center;
            font-weight: bold;
        }
        p {
            text-align: center;
            color: $white;
        }
        .box-2 {
            .post-inner {
                height: 100%;
                position: absolute;
                bottom: 15px;
                span:nth-child(1) {
                    font-size: 12px;
                }
                span:nth-child(2) {
                    font-size: 12px;
                    text-decoration: underline;
                }
                h2 {
                    a {
                        font-family: $yazi3;
                        letter-spacing: 0px;
                        font-weight: 100;
                        color: $white;
                        font-size: 30px;
                    }
                }
                p {
                    font-size: 15px;
                }
                .writer {
                    span {
                        font-family: $yazi2 !important;
                        font-size: 25px !important;
                    }
                    a:nth-child(1) {
                        height: 30px;
                        width: auto;
                        color: $gray;
                    }
                    a:nth-child(2) {
                        height: 30px;
                        width: auto;
                        border-radius: 15px;
                        border: 2px solid $gray;
                        color: $gray;
                    }
                    a:nth-child(3) {
                        height: 30px;
                        width: auto;
                        border-radius: 15px;
                        border: 2px solid $gray;
                        color: $gray;
                    }
                }
            }
        }
    }
    form {
        input {
            background-color: #17151E;
            border: none;
            width: 250px;
        }
        button {
            background-color: #17151E;
            width: 100px;
            color: $gray;
            border: none;
            margin-left: 3px;
        }
    }
}

main {
    border-bottom: 2px solid $black;
}

footer {
    background-color: $color3;
    color: $white;
    span {
        a {
            color: $white;
        }
    }
    ul {
        a {
            margin-left: 5px;
            color: $white;
            background-color: #17151E;
        }
    }
}